<header>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Tales</a>
            <ul class="right">
                <li><a href="/login" class="waves-effect waves-light btn">Login</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <h1>MY TALES</h1>
</main>

<footer class="page-footer footer-height">
    <div class="container">
        <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
    </div>
    <div class="container">
        <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a>
                < /li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
    </div>
    <div class="container">
        <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
    </div>
</footer>