
<main>
    <h1>MY TALES</h1>
</main>

<footer class="page-footer">
    <div class="container">
        <ul class="footer-list-cont">
            <li><a class="footer-list" href="#!">Link 3</a></li>
            <li><a class="footer-list" href="#!">Link 4</a></li>
        </ul>
    </div>
</footer>