<html>

<head>
    <title>My Tales</title>
</head>

<body>

    <div style="background-color:yellow; padding:50;">
      <%- include('partials/header') %>
      <div>
        <h1><strong> <center> A New Tales App!! </strong></h1>
        <%- body %>
      </div>
      <%- include('partials/footer') %>
    </div>

</body>

</html>