
<div class="container login-container">
    <div class="card">
        <div class="card-content">
            <h3><i class="fas fas-book-reader">My Stories</i></h3>
            <div class="section">
                <p class="lead">Create stories from your life and make them private or public</p>
            </div>
            <div class="divider">

            </div>
            <div class="section">
                <a href="/auth/google" class="btn red darken-1">
                    <i class="fab fa-google left">Continue with google</i>
                </a>
            </div>
            <div class="section">
                <a href="/auth/facebook" class="btn blue darken-4">
                    <i class="fab fa-facebook left">Continue with facebook</i>
                </a>
            </div>
        </div>
    </div>
</div>