<nav class="topnav navbar navbar-expand-sm">
        {{!-- <div class="nav-wrapper topnav-sub-cont"> --}}
    <a href="/">My  Tales</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-hamburger"></i>
    </button>

  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <div></div>
        <div></div>
        <div></div>
      </ul>
      <ul class="navbar-nav">
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>
      </ul>
  </div>
        {{!-- </div> --}}
</nav>

{{!-- <nav id="navbar">
  <div>
    <a href="/" class="logo">My Tales</a>
  </div>
  <div id="links">
    <a href="#">Register</a>
    <a href="/login">Login</a>
  </div>
</nav> --}}